

.container{

     display:  flex;
     
     
}

.emptyDiv{

    width: 50%;
    height: 500px;
    
     border:  1px solid black;
     border-radius: 5px;
     
      display: flex;
      flex-direction: row;
      gap: 20px;
}

.circleDiv{
 
    width: 25%;
    height: 600px;
  
     display: flex;
     flex-direction: column;
      gap: 20px;
     align-items: center;
}
.boxcircle{
     cursor: pointer;
}
.circle{

    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid black;
   
   }

.buttonDiv{
    width: 25%;
    height: 600px;
  
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 50px;

}

.buttonDiv input{

      width: 70%;
      height: 30px;
      border-radius: 5px;
  
}

.buttonDiv button{

      
      width: 40%;
     padding: 10px;
     font-size: 16px;
     font-weight: 600;
     cursor: pointer;
     border-radius: 5px;
     background-color: rgb(58, 54, 54);
     color: white;
}